<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Listado platillos</title>
</head>
<body>
	<h2>Lista</h2>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Imagen</th>
			<th>Descripcion</th>
			<th>precio</th>
			<th>opciones</th>
		</tr>
		{% for platos in data %}
		<tr>
			<td>{{ platos.name }}</td>
			<td><img src="{{platos.img.url}}" width="100" height="100"></td>
			<td>{{ platos.desc }}</td>
			<td>{{ platos.price }}</td>
			<td>{{ platos.offer }}</td>
			<td><a href="{% url 'eliminar' platos.id %}">Eliminar</a>
				<a href="{% url 'modificar' platos.id %}">Modificar</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>