{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css2/lista.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="https://www.vippng.com/png/full/501-5019302_unidos-por-nios-saludables-nestle.png" >
	<title>Listado platillos</title>
</head>
<body>
	<table>
		<caption>Lista de Platillos</caption>
		<tr>
			<th>Nombre</th>
			<th>Imagen</th>
			<th>Descripcion</th>
			<th>Precio</th>
			<th>Cocinero</th>
			{%if user.is_superuser %}
			<th colspan="2">Opciones</th>
			{%endif%}
		</tr>
		{% for platos in data %}
		<tr>
			<td>{{ platos.name }}</td>
			<td><img src="{{platos.img.url}}" width="100" height="100"></td>
			<td>{{ platos.desc }}</td>
			<td>{{ platos.price }}</td>
			<td>{{ platos.offer }}</td>
			{%if user.is_superuser %}
			<td><a href="{% url 'eliminar' platos.id %}">Eliminar</a></td>
			<td><a href="{% url 'modificar' platos.id %}">Modificar</a></td>
			{%endif%}
		</tr>
		{% endfor %}
	</table><br>
	<a class="regresar" href="http://localhost:8000">Return</a>
</body>
</html>