{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.vippng.com/png/full/501-5019302_unidos-por-nios-saludables-nestle.png" >
    <link rel="stylesheet" href="{% static 'css2/register.css' %}">
    <title>Login</title>
</head>
<body>
    {%if user.is_superuser or user.is_authenticated%}
    <h2>Usted ya esta logueado</h2>
    {%else%}
    <form action="login" method="POST">
        <h1>Login</h1>
        {%csrf_token%}
            <input type="text" placeholder="Username" name="username"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <input type="submit" value="Login">
    </form>
    {%endif%}
</body>
</html>