{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css2/register.css' %}">
    <title>Modificar destino</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="hidden" name="textid" id="textid" value="{{data.id}}">
        <input type="text" name="Name" placeholder="Nombre del destino" value="{{data.name}}"><br>
        <input type="file" name="Direccion" ><br>
        <textarea name="Descripcion"  cols="30" rows="4" placeholder="Descripcion del lugar">{{data.desc}}</textarea><br>
        <input type="number" name="Precio" placeholder="Precio" value="{{data.price}}"><br>
        
        <input type="submit" value="Modificar">
    </form>
</body>
</html>