<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css2/style.css' %}">
    <title>Mostrar</title>
</head>
<body>
    <div class="container">
        <div class="center">
            <h1>Nombre del Platillo</h1>
            <div class="item">
                <img src="Captura de pantalla de 2020-07-23 13-36-05.png" height="380px" width="100%">
            </div>
        
            <div class="item-datos" >
                <h3>Chef :Nombre del chef </h3>
                <h3>Tipo :Tipo de comida </h3>
                <h3>Ingredientes: Todos los ingredientes</h3>
                <h3>Descripcion </h3>
                <div>
                    <p>La  descripcion va aquijdfsbhbdshbchdshbchbdshbchbdshbcibdichbdbcibsib
                        cuisbuicbusbsbduvuyabduevtudbahbcytgbyucnjiabcyuabuicnajihbyfb
                        aeunjnucbubfyebycbeycbyebycuucbe
                        uncjnucuybahsbhh ah xh sahc jsbhc jsa hc asjc saj ckan ocisa ocaso cko oc os aok cojs joc oas oc aso oc aso co aso coas cosa oc oc
                     cja jc ja jc ja cio do okd vo vpoiv orvok ov oks voaovo ov or vor vor oivo vo uio vo ouvro vorinvur vi irivirviiviroprmir v viiovrnvuoior vi iv ri</p>
                    <input type="button" value="Anterior" class="button-Anterior">
                    <input type="button" value="Siguiente" class="button-Siguiente">
            </div>
        </div>

        </div>
    </div>
</body>
</html>