{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css2/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.vippng.com/png/full/501-5019302_unidos-por-nios-saludables-nestle.png" >
    <title>Mostrar</title>
</head>
<body>
    <div class="container">
        <div class="center">
            {%csrf_token%}
            <h1>{{data.name}}</h1>
            
            <div class="item">
                <img src="{{data.img.url}}" height="380px" width="100%">
            </div>
        
            <div class="item-datos" >
                <label>Chef :Nombre del chef </label><br>
                <label>Tipo :Tipo de comida </label><br>
                <label>Ingredientes: {{data.Brev}}</label><br>
                <label>Descripcion: </label><br>
                <div>
                    <p>{{data.desc}}</p>
                     <h4>Precio : {{data.price}}</h4>
                    <input type="button" value="Anterior" class="button-Anterior">
                    <input type="button" value="Siguiente" class="button-Siguiente">
            </div>
        </div>

        </div>
    </div>
    
</body>
</html>